:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

/* my color palete */

/* :root {
    --color-primary: #0e0185;
    --color-secondary: #194991; 
    --color-accent: #ff3000;
    --color-heading: rgb(1, 1, 46);
    --color-body: #222;
} */
