@import "./normalize.css";

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-white: #fff;
  --color-tertiary: #f3f9fa;
  --color-border: #ccc;
  --border-radius: 40px;
  --color-body-darker: #5c5577;
}

/* my color palete */

/* :root {
    --color-primary: #1302ac;
    --color-secondary: #2b65bd; 
    --color-accent: #ff3000;
    --color-heading: rgb(1, 1, 107);
    --color-body: #333;
} */


/* style for all elements */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html document general style */

html {
  font-size: 62.5%;
  line-height: 1.5; 
  width: 100vw;
  padding: 0;
}

/* style for body elements  */

body {
  width: 100vw;
  color: var(--color-body);
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow:auto;
}

/* typography */

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  margin-top: 2rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    margin-top: 0;
  }
}

/* logo  */

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--color-tertiary);
}

/* links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: all 0.16s;
}

.link-arrow:hover::after {
  /* content: "   -->"; */
  margin-left: 10px;
  /* transition: margin 0.16s; */
}


@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-heading);
}

.list-tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  height: 40px;
  width: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icons--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: var(--color-white);
}

.icon-container {
  background: var(--color-tertiary);
  border-radius: 100%;
  height: 64px;
  width: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon--container:hover {
  color: var(--color-white);
  background-color: #1b0760;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: 0;
  outline: 0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
  transition: background 0.1s;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
  transition: background 0.1s;
}

.btn--secondary:hover {
  background: #00c8eb;
}
.btn--accent {
  background: var(--color-accent);
  color: var(--color-white);
  transition: background 0.1s;
}
.btn--accent:hover {
  background: #ec3000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .tn {
    font-size: 1.5rem;
  }
}

.btn--outlined {
  background: var(--color-white);
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
  transition: background 0.1s;
}

.btn--outlined:hover {
  background: var(--color-heading);
  color: var(--color-white);
}

/* inputs */

.input {
  border-radius: var(--border-radius);
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  color: var(--color-heading);
  font-size: 2.2rem;
  outline: 0;
  padding: 1.5rem 2rem;
  margin-left: 1rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  display: flex;

  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 4vw;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (max-width: 768px) {
  .input {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 2.2rem;
  }
}

/* cards  */

.card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card__header,
.card__body {
  padding: 2rem 2.5rem;
  padding-top: 4rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-white);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-white);
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* plans  */

.plan {
  transition: transform 0.2s ease-in-out;
}

.plan__name {
  color: var(--color-white);
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 3%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }

  .plan--popular {
    transform: scale(1.1);
  }
}

/* media  */

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* quote  */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 9px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials  */

.testimonials {
  padding: auto;
}

.testimonial__header {
  text-align: center;
  padding: 2rem;
}

.testimonial {
  padding: 2rem 4rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 6rem;
  right: -3.2rem;
}
.testimonial .quote,
.testimonial .quote__author {
  font-size: 2.2rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial {
  padding: 3rem 6rem;
}

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* callout  */

.callout {
  padding: 3rem 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.callout__heading {
  color: var(--color-white);
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
  font-size: 2rem;
}

.floating__container {
  align-self: center;
  position: relative;
  justify-content: center;
  max-width: 1140px;
  transform: translateY(45%);
  margin: auto;
  display: flex;
  transition: transform 0.15s ease-out;
}

@media screen and (max-width: 1039px) {
  .floating__container {
    transform: translateY(10%);
  }
}

@media screen and (max-width: 400px) {
  .floating__container {
    transform: translateY(5%);
  }
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  /* transform: rotate(-90deg); */
  transform: rotate(180);
  transition: transform 0.15s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s;
  opacity: 0;
}

.collapsible--expanded .collapsible__chevron {
  /* transform: rotate(0); */
  transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* block  */

.block {
  --padding-vertical: 4rem;
  padding: var(--padding-vertical) 2rem;
  margin: 0;
  /* border: 2px solid red; */
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: var(--color-white);
}

.block--skewed-right {
  padding: calc(var(--padding-vertical) + 4rem) 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.block--skewed-left {
  padding: calc(var(--padding-vertical) + 4rem) 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

@media screen and (min-width: 768px) {
  .block--skewed-right {
    padding: calc(var(--padding-vertical) + 6rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }

  .block--skewed-left {
    padding: calc(var(--padding-vertical) + 6rem);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation */

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #111;
  margin-bottom: 1rem;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-white);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s, opacity 0.3s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #777;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(6px);
  fill: var(--color-white);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Hero page  */

/* .hero {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);  unnecessary 
} */

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Domain block  */

.block-domain .input-group {
  border: 0;
  box-shadow: 0 0 30px 20px #e6ebee;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  color: var(--color-heading);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .block-domain__prices .badge {
    font-size: 2rem;
  }
}

/* block plans  */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 525px;
  margin: 0 auto;
  /* padding: 1rem; */
}

/* Features  */

.feature__heading {
  margin: 1rem 0;
}

.feature {
  gap: 4rem 2rem;
  margin: 6rem 0;
}

.feature__image {
  width: 100%;
}

.feature:first-of-type {
  margin-top: 6rem;
  margin-bottom: 0;
}


@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
/* showcase block */

.block-showcase__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}

/* Footer  */

.footer {
  background: #232323;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__copyright {
  font-size: 2.1rem;
  color: var(--color-white);
  opacity: 0.3;
}

.footer__brand img {
  /* TODO: consider refactoring this and applying it to all images */
  /* width: 100%; */
  max-width: 100px;
}


.footer__section .list {
  margin: 0;
}

.footer__section a {
  display: block;
}

.footer a {
  color: #777;
  transition: color 0.15s;
}

.footer a:hover {
  color: var(--color-white);
}

.footer__sections {
  padding: 4rem 0rem;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    padding-top: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  /* .footer .collapsible__content {
    opacity: 1;
    max;
  } */

  .footer .collapsible__content {
    opacity: 1;
    font-size: 2rem;
    max-height: 100%;
  }

  .footer__section {
    border: 0;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }



  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__heading {
    font-size: 1.8rem;
  }
}
