 <article class="grid grid--1x2 feature">
          <div class="feature__content" data-aos="fade-right">
            <span class="icon-container">
              <svg class="icon icons--primary">
                <use href="images/sprite.svg#easy"></use>
              </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>
              Seamlessly navigate through our user-friendly interface and unlock
              the power of simplicity. Say goodbye to complexities and hello to
              effortless website management.
            </p>

            <a href="#" class="link-arrow">Learn More</a>
          </div>

          <picture data-aos="fade-up">
            <source
              type="image/webp"
              srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
            />
            <source
              type="image/jpg"
              srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
            />
            <img class="feature__image" src="images/easy@2x.jpg" alt="" />
          </picture>
        </article>
      </section>
      

      <!-- second section  -->
      <section class="block container">
        <div class="grid grid--1x2 feature">
          <div class="feature__content" data-aos="fade-left">
            <span class="icon-container">
              <svg class="icon icons--primary">
                <use href="images/sprite.svg#fast"></use>
              </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>
              Experience lightning-fast loading times and ensure your visitors
              never have to wait. Our optimized infrastructure and cutting-edge
              technology guarantee unparalleled speed and performance.
            </p>

            <a href="#" class="link-arrow">Learn More</a>
          </div>

          <picture data-aos="fade-up">
            <source
              type="image/webp"
              srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
            />
            <source
              type="image/jpg"
              srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
            />
            <img class="feature__image" src="images/fast@2x.jpg" alt="" />
          </picture>
        </div>
      </section>
      <!-- third section  -->
      <section class="block container">
        <div class="grid grid--1x2 feature">
          <div class="feature__content" data-aos="fade-right">
            <span class="icon-container">
              <svg class="icon icons--primary">
                <use href="images/sprite.svg#wordpress"></use>
              </svg>
            </span>
            <h3 class="feature__heading">WordPress Made Easy</h3>
            <p>
              Harness the power of WordPress without the hassle. Our intuitive
              platform simplifies the process of building and managing your
              WordPress website.
            </p>

            <a href="#" class="link-arrow">Learn More</a>
          </div>

          <picture data-aos="fade-up">
            <source
              type="image/webp"
              srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
            />
            <source
              type="image/jpg"
              srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
            />
            <img class="feature__image" src="images/wordpress@2x.jpg" alt="" />
          </picture>
        </div>
      </section>
      <!-- fourth section  -->
      <section class="block container">
        <div class="grid grid--1x2 feature">
          <div class="feature__content" data-aos="fade-right">
            <span class="icon-container">
              <svg class="icon icons--primary">
                <use href="images/sprite.svg#support"></use>
              </svg>
            </span>
            <h3 class="feature__heading">24/7 Expert Support</h3>
            <p>
              Experience peace of mind knowing that our team of dedicated
              experts is available around the clock to assist you with any
              questions or concerns.
            </p>

            <a href="#" class="link-arrow">Learn More</a>
          </div>

          <picture data-aos="fade-up">
            <source
              type="image/webp"
              srcset="images/support.webp 1x, images/support@2x.webp 2x"
            />
            <source
              type="image/jpg"
              srcset="images/support.jpg 1x, images/support@2x.jpg 2x"
            />
            <img class="feature__image" src="images/support.jpg" alt="" />
          </picture>
        </div>
      </section>